* {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.top-attractions-swiper {
  position: relative;
}

/* Pagination container */
.top-attractions-swiper .swiper-pagination {
  bottom: 20px !important;
}

/* Default bullets */
.top-attractions-swiper .swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

/* Active bullet */
.top-attractions-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #3b82f6; /* Tailwind blue-500 */
  width: 25px;
  border-radius: 8px;
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 1.3s ease-out forwards;
}
